@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700&family=Open+Sans:wght@300;500;600;700&family=Sacramento&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 /* font-family: Montserrat; */
    /* flex-wrap: wrap; */
}
body{
 font-family: Montserrat;
}
.mile_box{
    margin: 0 
}
.head_main{
    display: flex;
    justify-content: space-around;
    background-color: #0dcaf0;
    padding: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s;
}
.head_main .left,.head_main .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.around{
    justify-content: space-around;
}
.head_main>.right ,.head_main select{
    width: 30%;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    font-size: 21px;
 font-family: Quicksand;
}
nav{
    border-bottom: 2px solid #0dcaf000;
    transition: all 0.2s ease;
}
.head_main a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;

}
a{
    text-decoration: none; 
}
.head_main li a{
    color: #2558ab;
}
.mnu:hover{
    border-bottom: 2px solid white;
}
.rgbtn{
    padding: 12px 34px !important;
    border-radius: 4px !important;
    border: 1px solid #2558ab;
   color:#fff;
    font-size: 15px !important;
    box-shadow: 0 16px 16px -8px rgba(0,0,0,.16);
    font-weight: 600 !important;
    outline: none !important;
    background-color: #2558ab;
}
.head_main select{
    width: 120px;
    background-color: #0dcaf0;
    outline: none;
    border: none;
    color: aliceblue;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.main>.right{
    font-size: 32px;
    width: 20%;
    line-height: 40px;
    
    
   
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 35px;
    left: 90%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    z-index: 5;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  
.hero{
    background-color: #0dcaf0;
    background-repeat: no-repeat;
    display: block;
    opacity: 1;

    /* min-height: 10%; */
    width: 100%;
}
.justify-content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.row{
    padding: 15% 0;
    width:100%;
    min-height: 133px;
}
.text-white{
    color:white;
}
.hero-3-title{
    font-weight: 300;
    font-size: 40px;
   
    text-align: center;
}
.container{
    width:50%;
}
.h-u{
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
    color: #343a40;
    text-align: center;
}
.text-center{
    text-align: center;
}
.hero-btn{
    background-color: rgba(0, 0, 0, 0.648);
    cursor: pointer;
}
.section-heading{
    font-weight: 800;
    font-size: 2.2rem;
   margin: 100px 0;
   margin-bottom: 10px;
    text-align: center; 
    color: #2558ab;

}
.section-sub-heading{
    font-weight: 700;
    font-size: 20px;
 
    text-align: center; 
    color: #9da9bb;
}
.feature_wrapper{
    display: flex;
    justify-content: center;
}
.feature_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin-top: 4%;
    width: 80%;
    max-width: 100%;
}
.feature_container .left,.feature_container .right{
    width: 54%;
    text-align: center;
}
.feature_container .right :nth-child(){
    margin-bottom: 10%;
}
.feature_heading{
    font-weight: 700;
    font-size: 2rem;

   margin-bottom: 10px;
    text-align: center; 
    color: #2558ab;
}
.feaure_sub-heading{
    width: 80%;
    font-weight: 600;
    margin-left: 10%;
    
    font-size: 18px;
 line-height: 35px;
    text-align: center; 
    
}
.faq_container{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.faq_container .faq_content{
    width:50%;
}
.footer_container{
    padding-top: 20px;
    width:100%;
    margin-top: 5%;
   background-color: #333;
    text-align: center;
    color: #FFFFFF;
  
}
.fq-p{
font-family: 'QuickSand';
font-weight: 700;
font-size: larger;
margin-top: 20px;
margin-bottom: 20px;
}
.fq-p-s{
    color: #f3f2f2!important;
    font-family: 'QuickSand';
font-weight: 700;
}
.footer-item h3,.footer-item h4{
    margin-bottom: 10%;
    color: #b5becc;
    font-weight: 700;
    font-size: larger;
    text-align: left;
    transition: all 1s;
    cursor: pointer;
}
.footer-item h4:hover{
    transform: translateX(10px);
    color: orange;

}
.footer_content{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    text-align: center;
}
.inner-footer-content{
    font-size: large;
    font-weight: 600;
    color: #343a40;
    line-height: 40px;
}
.footer-item h3{
    color:#eef0f3;
    font-size: larger;
    font-weight: 350;
}
.footer_center{
    text-align: center;
    width: 100%;
}
.row-reverse{
    flex-flow: row-reverse;
}
.inner-footer-content{
    width: 60%;
}
.css-1fjvggn-MuiPaper-root-MuiAccordion-root,.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root,.css-1mxs4hs,.css-78njj9
    {
    position: unset !important;
}
@media screen and (max-width: 770px){
    *{
        flex-wrap: wrap;
    }
    .head_main{
        justify-content: center;
    }
    .head_main .right{
        display: none;
    }
    .around{
        display: block !important;
    }
    .row-reverse{
        
            flex-wrap: wrap;
        
    }
    .feature_container .left,.feature_container .right{
        width:90%;
    }
    .faq_container .faq_content{
        width:90%;
    }
    .inner-footer-content{
        width: 90%;
    }
    .container{
        width: 90%;
    }
    .footer-item h3,.footer-item h4{
        margin: 8% 8%;
       
        text-align: center;
      
        cursor: pointer;
    } 
}

.hero{
    clip-path: polygon(0 0, 100% 0%, 100% 68%, 0 87%);
    background-image: url("../../asset/Home/about.jpg");
    /* height: 600px; */
    background-size: cover;
    z-index: 0;
   
}
.hero_text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    flex-direction: column;

}
.form_card{
    box-shadow: 0px 0px 5px 3px rgba(222,222,222,1);
}
.home_selector{
    clip-path: polygon(0 24%, 100% 40%, 100% 100%, 0% 100%);
    background-image: url("../../asset/Home/about.jpg");
    height: 600px;
    background-size: cover;
    /* z-index: 0; */
   
}
.home_nav{
    position: relative;
    top: 40%;
    left:0%;
    float: right;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color:#fff;
    width:60%;
    
}
.home_nav_top{
    position: relative;
    top: 2%;
    left:0%;
    float: right;
    text-decoration: none;
    list-style: none;
   
    justify-content: space-around;
    color:#fff;
    width:40%;
    font-family: sans-serif !important;
    font-weight: 400;
    
}
.home_nav_top_up{
    position: relative;
    top: 2%;
    left:0%;
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
    list-style: none;
 
  
    justify-content: space-between;
    color:#fff;
    
}
.home_nav_top>li{
    border-bottom: 2px solid transparent;
    
}
.home_para{
    position: relative;
    top: 50%;
    left:5%;
    width: fit-content;
    max-width: 450px;
    color: #fff;
}
.home_nav_top>li:hover,.home_nav>li:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
.mask{
    position: relative;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
   
    background-image: linear-gradient(to bottom, rgba(80, 133, 246, 0.8) 0%,rgba(125, 242, 204, 0.8) 100%);;
}

    
        .parent:hover .child {
            opacity:1;
            height:auto;
            overflow:none;
            transform: translateY(0);
        }
        .child {
            opacity:0;
            height:0;
            overflow:hidden;
            transform: translateY(-10%);
        }
    
    
